<!DOCTYPE HTML>
<html lang="en">
    <head>
        <style>
            .boxes {
                border-radius: 10px;
                border: 3px solid #FFFFFF;
                float: left;
                width: 48%;
                margin: .5%;
                background-color: #1E1E1E;}
        </style>
        <meta charset="utf-8">
        <title>Data Report</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body bgcolor="#0d5382" oncontextmenu="return false;">
        <header>
            <h1 style='font-size:200%; font-family:monospace;text-align:center;color:white;text-decoration: none;'><i><b>Glendale Library, Arts, &amp; Culture</b></i></h1>
            <h2 style='font-size;150%;font-family:sans-serif;text-align:center;color:white;text-decoration: none'><i><u>Library Data Report</u></i></h2>
        </header>
        <main>
            <div class="boxes">{{ figure }}</div>
            <div class="boxes">{{ figure1 }}</div>
            <div class="boxes">{{ figure2 }}</div>
            <div class="boxes">{{ figure3 }}</div>
            <div class="boxes">{{ figure4 }}</div>
            <div class="boxes">{{ figure5 }}</div>
            <div class="boxes">{{ figure6 }}</div>
            <div class="boxes">{{ figure7 }}</div>
            <div class="boxes">{{ figure8 }}</div>
            <div class="boxes">{{ figure9 }}</div>
            <div class="boxes">{{ figure10 }}</div>
        </main>
    </body>
</html> 